#photogallerymodule {
    margin: 0;
    padding: 0;
    position: fixed;
    font-size:14px;
    line-height:1.28571em;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    font-family: sans-serif;
    color:#333;
}


.intro {
    display: flex;
    margin:50px;
}

.intro > .photo > img {
    height: 350px;
    width: 350px;
}

.intro > .photo > img:hover {
    cursor: pointer;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    display:flex;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: #333; /* Fallback color */
    background: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-photo {
    background-color: black;
    margin: 5px 0px 25px 200px;
    padding: 0px;
    border: 1px solid black;
    width: 70%;
    height: 90%;
    text-align: center;
}

.modal-selectedphoto { 
    max-width: 100%;
    height: 100%;
    text-align: center;
}

.picture{
    text-align: center;
    display:flex;
    align-content:center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.modal-underbar{
    color: lightgray;
    position: relative;
    display: flex;
    height: 20px;
    z-index:4;
    background-color: rgb(0, 0, 0); /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.2); Black w/ opacity */
    padding:0px;
    margin:0px;
    top:-20px;
}

.modal-underbar-left {
    display:table-cell;
    text-align: left;
    width:25%;
}

.modal-underbar-middle {
    display:table-cell;
    text-align:center;
    width:50%;
}

.modal-underbar-right {
    display:table-cell;
    text-align:right;
    width:25%;
}

.modal-comment{
    background-color: white;
    margin: 5px 200px 25px 0px;
    padding:0px;
    border: 1px solid white;
    width: 30%;
    height:90%;
}



/* The Close Button */
.close {
  color: #999;
  position: absolute;
  top: 5px;
  right:200px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 0;
  line-height: 1.28571em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  text-decoration: none;
  text-align: right;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


/* Next & previous buttons */
.modal-prev,
.modal-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 30px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.modal-next {
  right: 510px;
  border-radius: 3px 0 0 3px;
  background: url(https://s3-us-west-1.amazonaws.com/welp-icons/next.png) right 48% no-repeat;
}

.modal-prev{
    left: 200px;
    background: url(https://s3-us-west-1.amazonaws.com/welp-icons/prev.png) left 48% no-repeat;
}


.photo-gallery-prev,
.photo-gallery-next {
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index:1;
  margin-left:-40px;
  margin-right:-60px;
}

/* Position the "next button" to the right */
.photo-gallery-next {
  right: 20px;
  border-radius: 3px 0 0 3px;
  background: url(https://s3-us-west-1.amazonaws.com/welp-icons/next.png) right 48% no-repeat;
}

.photo-gallery-prev{
    background: url(https://s3-us-west-1.amazonaws.com/welp-icons/prev.png) left 48% no-repeat;
}


/* Description bar for photogallery */
.descriptionbar{
    position: relative;
    display: flex;
    height: 45px;
    z-index:2;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
    padding:0px;
    margin:0px;
    width:250px;
    top:-45px;
}

.descriptionbarcomment{
    width: 180px;
    padding: 5px;
}

.shortcomment{
    color:white;
}

.descriptionuser{
    color: lightgrey;
}

.comment-elite{
    color: #f15c00;
    font-weight: bold;
}

.comment-elite,
.comment-reviews {
    margin-left:10px;
}

.comment-follwers,
.comment-reviews {
    color: darkgray;
    font-weight: bold;
    vertical-align: baseline;

}

.commentblock1 {
    display:flex;
}

.commentblock2 {
    display:flex;
    flex-direction: column;
    margin-top:8px;
}

.comment-username{
    color: #0073bb;
    font-weight: bold;
    padding-top:25px;
}

.comment-sentence{
    vertical-align: baseline;
    margin-top: 5px;
    margin-bottom:5px;
}

.comment-date{
    font-size: 12px;
    line-height: 1.5em;
    color: #999;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.comment-question{
    margin-top:10px;
    white-space: nowrap;
    margin-bottom: 15px;
    font-weight: bold;
    color: #666;
    font-size: 12px;
}

.comment-helpful{
    color: #666;
    white-space: nowrap;
    margin: -9px 0;
    font-size: 12px;
    line-height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
}


.wrapper {
    height: 400px;
    width: 700px;
    display:flex;
    align-content:center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}